---
layout: archive
---

{{ content }}

{% if paginator %}
{% assign postsByYear = paginator.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% else %}
{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% endif %}


{% assign entries_layout = page.entries_layout | default: 'list' %}

{% for year in postsByYear %}

  {% for post in year.items %}

  {% if 'all' in page.category %}
    {% assign in_cat = true %}
  {% else %}
    {% assign in_cat = false %}
  {% endif %}

  {% for cat in post.category %}

    {% if page.category contains cat %}
      {% assign in_cat = true %}
    {% endif %}

  {% endfor %}

  {% if in_cat %}
    {% include archive-single.html type=entries_layout %}
  {% endif %}

  {% endfor %}

{% endfor %}

{% include paginator.html %}

<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}
  &uarr;</a>
